/* ********************************** */
/* RBRi 2009, 2011, 2016              */
/*                                    */
/* The two column layout is based on  */
/* the work of Matthew James Taylor   */
/*   http://matthewjamestaylor.com    */
/* ********************************** */

/* Wetator colors */









* {
    margin: 0;
    padding: 0;
}

html {
}


body {
  border:0; /* This removes the border around the viewport in old versions of IE */
  width:100%;
  min-width:600px;  /* Minimum width of layout - remove line if not required */
                    /* The min-width property does not work in old versions of Internet Explorer */
  font-family: 'Droid Sans', arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.28em;
  text-align: left;

  color: #000000;
  background:#ffffff;
}

a {
  color: #00769c;
  border-bottom: 1px solid ;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: #e75013;
  border-bottom: 2px solid ;
}


/* ------------- */
/* Header styles */
/* ------------- */

#header {
  clear:both;
  float:left;
  width:100%;
  height: 148px;
}

#header a, #header a:hover, #header a:visited, #header a:link, #header a:active {
  border: none;
  text-decoration: none;
}

#header_logo {
  float:left;
  width: 400px;
  padding-top: 8px;
  padding-left: 0px;
}

#header_logo a img {
  border: none;
}


#header_bottomline {
  border-bottom: 1px solid #bbbbbb;
  height: 72px;
  margin-left: 402px;
  margin-top: 9px;
  margin-right: 3%;
}

#header_nav {
  clear: right;
  display: inline;
  float: right;
  margin: 46px 15px 0 0;
  background:#ffffff;
}

#header_nav ul {
  display: inline;
  line-height: 25px;
  list-style: none outside none;
  position: relative;
}

#header_nav li {
  text-transform: lowercase;
  float: left;
  padding-bottom: 1px;
}


#header_nav ul li a {
  color: #585759;
  display: block;
  font-weight: normal;
  padding: 0 10px;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
}

#header_nav li.selected a {
  color: #00769c;
}

#header_nav ul ul {
  position: absolute;
  z-index: 1;
  margin-top: 1px;
  border: 1px solid #bbbbbb;
  box-shadow: 1px 2px 3px #dddddd;
  white-space: nowrap;
  display: none;
}

#header_nav ul ul li {
  float: none;
  font-size: 14px;
  text-align: left;
  text-transform: none;
  border-bottom: 1px solid #dddddd;
  line-height: 22px;
  background: #ffffff;
}

#header_nav li.selected ul a {
  color: #585759;
}

#header_nav ul ul li.selected a {
  color: #00769c;
}

#header_nav ul li:hover ul {
  display: block;
}

#header_nav ul ul li:hover {
  background: #dddddd;
  color: #000000;
}

#header_nav ul ul li:hover a {
  color: #000000;
}

#header_breadcrumbs {
  font-size: 0.75em;
  color: #585759;
  text-decoration: none;
}

#header_breadcrumbs ol {
  margin-top: 2px;
  margin-bottom: 50px;
}

#header_breadcrumbs ol li {
  display: inline;
}

#header_breadcrumbs a:hover, #header_breadcrumbs a:visited, #header_breadcrumbs a:link, #header_breadcrumbs a:active {
  color: #585759;
  display: inline;
}

/* ----------- */
/* two columns */
/* ----------- */

.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
  clear:both;
  float:left;
  width:100%;         /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
}

/* 2 column left menu settings */
.leftmenu {
}

.leftmenu .colright {
  float: left;
  width: 200%;
  position: relative;
  left: 248px;
  background: #ffffff;
}

.col1wrap {
  border-right: 1px solid;
}

.leftmenu .col1wrap {
  float: right;
  width: 50%;
  position: relative;
  right: 200px;
  padding-bottom: 1em;
}

.col1 {
}

.leftmenu .col1 {
  margin: 0 70px 0 215px;
  position: relative;
  right: 100%;
  overflow: hidden;
}

.leftmenu .col2 {
  float: left;
  width: 250px;
  position: relative;
  right: 240px;
}


/* ------- */
/* sidebar */
/* ------- */

#sidebar {
  padding-top: 0.1em;
}

#sidebar a, #sidebar a:hover, #sidebar a:visited, #sidebar a:link, #sidebar a:active {
  text-decoration: none;
  border: none;
}

#sidebar h1 {
  font-size: 1em;
  font-weight: normal;
  color: #585759;
  margin: 11px 14px 10px;
}

#sidebar_nav a, #sidebar_nav a:hover, #sidebar_nav a:visited, #sidebar_nav a:link, #sidebar_nav a:active {
  border: none;
}

#sidebar_nav ul {
  list-style: none outside none;
  margin: 1px 14px 1px;
}

#sidebar_nav ul li {
  color: #585759;
  margin: 0px 8px;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

#sidebar_nav ul ul {
  margin-right: 0px;
}

#sidebar_nav ul ul li {
    list-style-image: none;
    list-style-type: square;
    margin-left: 20px;
}

#sidebar_nav ul ul ul {
    margin-left: 0px;
}

#sidebar_nav ul li a {
  background: none repeat scroll 0 0 transparent;
  color: #585759;
  padding: 0 2px;
  font-size: 0.75em;
  text-decoration: none;
}

#sidebar_nav li.selected a {
  color: #00769c;
}

#sidebar_nav li.selected li a {
  color: #585759;
}

#sidebar_nav li.selected li.selected a {
  color: #00769c;
}

#sidebar_nav li.selected li.selected li a {
  color: #585759;
}

#sidebar_nav li.selected li.selected li.selected a {
  color: #00769c;
}

#sidebar_nav li.selected li.selected li.selected li a {
  color: #585759;
}

#sidebar_nav li.selected li.selected li.selected li.selected a {
  color: #00769c;
}

#sidebar_news {
  font-size: 0.88em;
  margin: 0 0 10px;
}

#sidebar_news h1 {
  margin: 1px 1px 1px 24px;
}

#sidebar_news p {
  margin: 1px 1px 1px 34px;
}

/* ------ */
/* footer */
/* ------ */

#footer {
  clear:both;
  float:left;
  width:100%;
  border-top: 1px solid #bbbbbb;
  margin: 24px 18px;
}

#footer p {
  font-size: 0.63em;
  color: #aaaaaa;
}

#footer a:hover, #footer a:visited, #footer a:link, #footer a:active {
  color: #aaaaaa;
  text-decoration: none;
}


/* --------------- */
/* general classes */
/* --------------- */

.posted {
  color: #918C7E;
  font-size: 0.63em;
  margin: -4px 0 6px;
}